apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: postgres
  ports:
  - name: db
    port: {{ .Values.postgres.servicePort }}
    targetPort: {{ .Values.postgres.servicePort }}