:root {
  --white: #f1f7f6;
  --lightGreen: #d0dbd1;
  --green: #1C634D;
  --darkGreen: #0c2b21;
  --complementaryOrange: #F26641;
  --black: #031B1B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Proxima nova, sans-serif;
}

body {
    background-color: var(--white);
    color: var(--black);
    padding: 20px;
    height: 100vh;
}

.input-group-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ===== Navigation Bar ===== */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
}

.navbar a {
    color: var(--white);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: var(--green);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.bar {
    background-color: var(--white);
    height: 3px;
    width: 25px;
    margin: 4px 0;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

#navTime {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  white-space: nowrap;
  font-size: 0.95rem;
  opacity: 0.9;

  z-index: 10;
  pointer-events: none;
}


/* ===== Button Styles ===== */
button {
    padding: 8px 12px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    color: var(--black);
    background-color: var(--white);
}

/* ===== Main Container ===== */
.container {
    max-width: 1000px; /* Adjust based on navbar height */
    margin: 20px auto 80px auto;
    /* Bottom margin to prevent overlap with navbar */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 80px 0;
    /* Prevent content from being hidden behind the navbar */
}



/* ===== Header Styles ===== */
.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    color: var(--black);
    font-size: 28px;
    margin-bottom: 10px;
}

/* ===== Form Styles ===== */
.workout-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 25px;
    background-color: var(--lightGreen);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.workout-form input[type="number"],
.workout-form input[type="text"],
.workout-form input[type="checkbox"],
select {
    padding: 10px;
    margin: 6px 16px;
    border: 1px solid var(--green);
    border-radius: 5px;
    font-size: 16px;
    width: 70%;
    margin: 6px 10px;
}

select,input{
    background-color: var(--white);
    color: var(--black);
}

.workout-form button {
    padding: 10px 16px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.workout-form button:hover {
    color: var(--black);
    background-color: var(--white);
}
/* ===== Popup Styles ===== */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    height: 150px;
    position: relative;
}

.close-btn {
    color: var(--white);
    position: absolute;
    margin: 10px;
    top: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 20px;
}



/* ===== Calendar Styles ===== */
.calendar {
    margin: 20px 0 10px;
}

.calendar table {
    width: 100%;
    text-align: center;
}

.calendar th,
.calendar td {
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: var(--black);
}

.calendar th {
    background-color: var(--green);
    color: var(--white);
}

.calendar td {
    background-color: #ecf0f1;
}

.calendar td:hover {
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
}

.calendar-day {
    background-color: var(--lightGreen);
    color: var(--white);
}

.calendar-navigation{
    margin: 20px;
}

.calendar-navigation a{
    text-decoration: none;
    color: var(--white);
    margin: 0 10px;
    background-color: var(--green);
    border-radius: 0.5em;
    padding: 10px 15px;
}

.calendar-navigation a:hover{
 cursor: pointer;
 background-color: var(--black);
}

/* ===== Stats Page Styles ===== */
.stats {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

.stats p {
    font-size: 20px;
    margin: 10px 0;
}

#selectWorkout button{
    padding: 11px 14px;
    margin-left: 10px;
}

#selectWorkout button:hover{
    background-color: var(--black);
    color: var(--white);
}

#selectWorkout .dark-mode select, #selectWorkout .dark-mode button{
    background-color: var(--green);
}

#selectWorkout .dark-mode button:hover{
    color: var(--black);
    background-color: var(--white);
}

.dark-mode text{
    fill: var(--white);
}

.dark-mode .vizualizacija p{
    color: var(--black);
}



.calendar-cell {
    padding: 0;
    margin: 0;
    width: 3vw;
    height: 3vw;
}

.padded15 {
    padding: 15px;
}


/* ===== Dark mode styles ===== */
.navbar.dark-mode{
    background-color: var(--darkGreen);
}

body.dark-mode {
    background-color: var(--black);
    color: var(--white);
}

.workout-form.dark-mode{
    color: var(--white);
    background-color: var(--green);
}

.dark-mode button, .dark-mode input, .dark-mode select{
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

.workout-form.dark-mode button:hover{
    color: var(--black);
    background-color: var(--white);
}

.calendar.dark-mode th {
    background-color: var(--white);
    color: var(--black);
}

.calendar.dark-mode td {
    background-color: var(--green);
    color: var(--white);
}

.calendar.dark-mode td:hover {
    background-color: var(--lightGreen);
    color: var(--green);
}

.calendar-navigation.dark-mode a:hover{
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
}


.popup.dark-mode{
    color: var(--white);
    background-color: var(--black);
}

.popup.dark-mode button, .popup.dark-mode input{
    color: var(--black);
    background-color: var(--lightGreen);
}



table.rounded-corners {
 /* Change these properties */
 --border: 1px solid #A6A6A6;
 border-radius: 10px;

 /* Don't change these properties */
 border-spacing: 0;
 border-collapse: separate;
 border: var(--border);
 overflow: hidden;
}

/* Apply a border to the right of all but the last column */
table.rounded-corners th:not(:last-child),
table.rounded-corners td:not(:last-child) {
 border-right: var(--border);
}

/* Apply a border to the bottom of all but the last row */
table.rounded-corners>thead>tr:not(:last-child)>th,
table.rounded-corners>thead>tr:not(:last-child)>td,
table.rounded-corners>tbody>tr:not(:last-child)>th,
table.rounded-corners>tbody>tr:not(:last-child)>td,
table.rounded-corners>tfoot>tr:not(:last-child)>th,
table.rounded-corners>tfoot>tr:not(:last-child)>td,
table.rounded-corners>tr:not(:last-child)>td,
table.rounded-corners>tr:not(:last-child)>th,
table.rounded-corners>thead:not(:last-child),
table.rounded-corners>tbody:not(:last-child),
table.rounded-corners>tfoot:not(:last-child) {
 border-bottom: var(--border);
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--lightGreen);
    border-radius: 8px;
    padding: 20px 10px;
    width: 400px;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-container input[type="number"],
.login-container input[type="text"],
.login-container input[type="checkbox"],
.login-container input[type="password"]{
    padding: 10px;
    margin: 6px 16px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 16px;
    width: 60%;
}

.login-container select,.login-container input{
    background-color: var(--white);
    color: var(--black);
}

.login-container button {
    padding: 10px 20px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    color: var(--white);
    background-color: var(--black);
}

.login-container .input-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}

.input-group-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.workout-day-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--lightGreen);
    border-radius: 8px;
    padding: 20px 10px;
    gap: 20px;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.workout-day-container.dark-mode{
    background-color: var(--darkGreen);
    color: var(--white)
}

.workout-day-container p {
    font-size: 16px;
    margin: 0 20px;
}

.workout-day-container span{
    font-weight: 700;
}

.workouts {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three items per row */
    gap: 20px; /* 20px gap both vertically and horizontally */
    padding: 20px; /* Optional padding for the container */
}

/* ===== Media Queries for Responsiveness ===== */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;

        padding: 25px;
        height: 70px;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: var(--black);
        align-items: center;
        padding: 30px 0;
    }

    .menu.active {
        display: flex;
    }

    .menu a {
        text-align: center;
        padding: 15px;
    }

    .hamburger {
        display: flex;
    }

    .container {
        padding: 15px;
    }

    .workout-form {
        padding: 16px;
    }

    .workout-form input[type="number"],
    .workout-form input[type="text"],
    .workout-form input[type="checkbox"]{
        font-size: 16px;
        width: 60%;
        padding: 5px;
        margin: 6px 16px;
    }

    select{
        font-size: 16px;
        width: 70%;
        padding: 5px;
        margin: 3px 8px;
    }

    .workout-form button {
        padding: 6px 12px;
        font-size: 16px;

    }

    .workouts {
        grid-template-columns: 1fr; /* Single column layout on mobile */
    }

    .calendar table {
        font-size: 14px;
        padding: 0;
    }

    .stats {
        font-size: 18px;
    }
    .calendar-cell {
        width: 6vw;
        height: 6vw;
    }
}